<div id="header">
    <a href="../upload">UPLOAD</a>
    <a href="../filemanager">FILEMANAGER</a>
    <a href="../info">INFO</a>
</div>
<div class="wrapper">
    <div id="menu">INFORMATION</div>
    <div id="main">
        <table id="info_table">
            <tr>
                <td>
                    ID:
                </td>
                <td>
                    {{#if id}}
                    {{id}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    NAME:
                </td>
                <td>
                    {{#if name}}
                    {{name}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    PATH:
                </td>
                <td>
                    {{#if path}}
                    {{path}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    SIZE:
                </td>
                <td>
                    {{#if size}}
                    {{size}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    TYPE:
                </td>
                <td>
                    {{#if type}}
                    {{type}}
                    {{/if}}
                </td>
            </tr>
            <tr>
                <td>
                    SAVEDATE:
                </td>
                <td>
                    {{#if savedate}}
                    {{savedate}}
                    {{/if}}
                </td>
            </tr>
        </table>






    </div>
</div>